body {
  margin: 12px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

hr {
  background-color: rgb(220, 220, 220);
  border: none;
  height: 1px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: white;
  font-size: 24px;
  font-weight: 700;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  display: flex;
}

.top-section {
  display: flex;
  overflow-x: scroll;
  margin-top: 50px;
}

.top-article-box {
  width: 180px;
  flex-shrink: 0;
}

.top-article-box + .top-article-box {
  margin-left: 8px;
}

.section-header {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 8px;
}

.summary {
  display: flex;
  justify-content:space-between;
  padding: 8px;
}

.summary-img {
  width: 120px;
  height: 80px;
  border-radius: 4px;
}

.summary-img-title {
  font-size: 12px;
}

.left-header {
  display: flex;
  align-items: center;
}

.left-news {
  font-size: 14px;
  margin-right: 12px;
}

.left-weather {
  font-size: 10px;
}

.left-content > p {
  margin-top: 8px;
  font-size: 14px;
}

.right-area {
  width: 120px;
}

.ranking {
  display: flex;
  overflow-x: scroll;
}

.ranking-group {
  flex-shrink: 0;
}

.ranking-group + .ranking-group {
  margin-left: 8px;
}

.ranking-item {
  display: flex;
}

.ranking-item + .ranking-item {
  margin-top: 8px;
}

.ranking-text {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.ranking-text > p {
  max-width: 200px;
}

.ranking-prefix {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
  font-weight: 700;
}

.ranking-item > img {
  width: 64px;
  height: 42px;
  border-radius: 2px;
  object-fit: cover;
}

.article-box {
  flex: 1;
}

.article-box + .article-box {
  margin-left: 8px;
}

.img {
  width: 100%;
  height: 110px;
  border-radius: 4px;
  border: 1px rgb(201, 201, 201) solid;
}

.news-title {
  font-size: 14px;
  white-space: initial;
}

.provider-name {
  font-size: 10px;
  color: rgb(193, 193, 193);
}

.dummy {
  background: linear-gradient(rgb(238, 238, 238), rgb(156, 177, 167));
  height: 300vh;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: white;
  height: 60px;
}

.footer > div {
  flex: 1;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}